img {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  margin: auto;
}

table {
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-weight: bold;
  justify-content: center;
  align-items: center;
  color: White;
  background-color: black;
}

a {
  text-decoration: none;
  color: Black;
}

nav {
  background-color: Red;
}
